#mainCol{
  background: rgb(231, 91, 91);
  height: 100vh;
}
#navbar{
 position:fixed;
 border-radius: 12px;
 top: 2%;
 left: 96%;
 padding-top: 0.8rem;
 transform: translateX(-100%);
 z-index: 9999;
}

#h1:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgb(107, 255, 255);
  transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
  color: rgb(107, 255, 255);
  border-radius: 12px; /* Adjust the value as needed */
  text-shadow: 0 0 10px rgb(255, 255, 255); 
}
#appbody{
    background-color: rgb(0, 0, 0);
  height: 100vh;
}
#about{
  background-color: rgb(143, 0, 0);
  height: 100vh;
}

